@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

:root {
  --background-color: #212429;
  --default-font: 'Roboto', sans-serif;
  --highlight-text-color: #986DFF;
  --hover-text-color: #29def1;
  --text-color: #999999;
  --title-text-color: #ffffff;
  --underline-link: #986DFF;
}

* {
  background-color: var(--background-color);
  border: 0;
  box-sizing: border-box;
  color: var(--text-color);
  font-family: var(--default-font);
  margin: 0;
  outline: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  width: calc(100vw - (100vw - 100%));
}

header {
  height: 10vh;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--hover-text-color);
}

h1 {
  color: var(--title-text-color);
}

.brackets {
  color: var(--highlight-text-color);
}

body::-webkit-scrollbar {
  display: none;
}

/*menu link animation*/
.underline-center-animation {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  display: inline-block;
  overflow: hidden;
  padding-bottom: 4px;
  position: relative;
  transform: perspective(1px) translateZ(0);
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
}
.underline-center-animation:before {
  background: var(--underline-link);
  bottom: 0;
  content: "";
  height: 2px;
  left: 51%;
  position: absolute;
  right: 51%;
  transition-duration: 0.3s;
  transition-property: left, right;
  transition-timing-function: ease-out;
  z-index: -1;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-property: left, right;
  -webkit-transition-timing-function: ease-out;
}

.underline-center-animation:hover:before, .underline-center-animation:focus:before, .underline-center-animation:active:before {
  left: 0;
  right: 0;
}